/sql
/back/conf/elud.json
/back/lib/Updates/_shot
/back/logs
/front/logs
/front/node_modules/
/files
/front/root/_pics/
/front/root/_/app/js/app.js
/front/root/_/app/js/*.js*
/front/root/_/app/xslt/*.gz
/front/root/_/libs/tasks/tasks.css
/front/root/_/libs/tasks/css/sprite.*
/back/package-lock.json
/back/node_modules
/back_2/node_modules/
