article[data-block-name=help] {

	font-family: Georgia, Times, Serif;
	font-size: 14pt;
	margin: 20px 20px 20px 20px;
	
	img {
		margin: 0 10px 10px 10px;
	}
	
	dt {
		margin-top: 10px;
		margin-bottom: 5px;
		font-weight: bold;
	}
	
}